body{
    margin: 0%;
    text-align: center;
}


/********************css classes*************************/
.top-container{
    background-color:#adce74;
    height: 800px;
}

.middle-container{
    background-color: #98acf8;
    height: 600px;
    width:100%;
    
}

.bottom-container{
    height: 800px;
    width:100%;
    background-color: #da9ff9;
}


/**********************css ids**********************/
#head1{
    color: #0e49b5;
    width: 30%;
    margin: 0 auto 0 auto;
    font-size: 70px;
}

#para1{
    font-size: 20px;
    width: 30%;
    margin: 0 auto 0 auto;
}

